<!--
INF601 - Advanced Programming in Python
Assignment: Final Project
I,     Levi Eck    , affirm that the work submitted for this assignment is entirely my own. I have not engaged in any form of academic dishonesty, including but not limited to cheating, plagiarism, or the use of unauthorized materials. I have neither provided nor received unauthorized assistance and have accurately cited all sources in adherence to academic standards. I understand that failing to comply with this integrity statement may result in consequences, including disciplinary actions as determined by my course instructor and outlined in institutional policies. By signing this statement, I acknowledge my commitment to upholding the principles of academic integrity.

INF601 - Advanced Programming in Python
Levi Eck
Final Project
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">{% load static %}
    <link rel="stylesheet" href="{% static '/guestbook/css/guestbook_style.css' %}">
    <title>Guestbook</title>
    <style>
        .compose-button button {
            width: 100px;
	        height: 37px;
	        background-color: #21409A;
	        color: #FFFFFF;
	        border: none;
            cursor: pointer;
        }
        .compose-button button:hover {
            transform: scale(1.1);
	        transition: transform .25s ease;
        }

        body {
            font-family: Arial;
            text-align: center;
        }
        body ul {
            list-style-type: none;
        }

    </style>
</head>
<body>
<h1>Guestbook</h1>

<div class="compose-button">
    <a href="/guestbook/compose/">
        <button>Compose a message</button>
    </a>
</div>

<div id="feed">
    {% if latest_memo_list %}
        <ul>
    {% for memo in latest_memo_list %}
        <li><strong>{{ memo.name }}</strong> said: "{{ memo.content }}" on {{ memo.pub_date|date:"M d, Y" }}</li><br>
    {% empty %}
        <li>No messages yet.</li>
    {% endfor %}
</ul>

{% else %}
    <p>No messages are available.</p>
{% endif %}
</div>
</body>
</html>