<!--
INF601 - Advanced Programming in Python
Assignment: Final Project
I,     Levi Eck    , affirm that the work submitted for this assignment is entirely my own. I have not engaged in any form of academic dishonesty, including but not limited to cheating, plagiarism, or the use of unauthorized materials. I have neither provided nor received unauthorized assistance and have accurately cited all sources in adherence to academic standards. I understand that failing to comply with this integrity statement may result in consequences, including disciplinary actions as determined by my course instructor and outlined in institutional policies. By signing this statement, I acknowledge my commitment to upholding the principles of academic integrity.

INF601 - Advanced Programming in Python
Levi Eck
Final Project
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registry</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
        h1 {
	    font-family: "Libre Baskerville", serif;
        }
    </style>
</head>
<body>
<h1>Registry</h1>
{% if gift_item_list %}
    <ul>
    {% for gift in gift_item_list %}
       <li><a href="{% url 'wishlist:detail' gift.id %}">{{ gift.gift_item }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No registry items are available.</p>
{% endif %}
</body>
</html>