<!DOCTYPE html>
<html lang= "en">

<head>
	<title>Levi Eck – Home</title>
	<meta charset="utf8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'rsvp/css/style.css' %}">

	<style>
        main {
            height: 100vh; /* Sets the height to 100% of the viewport height */
            width: 100%; /* Ensures it spans the full width */
        }
    </style>
</head>

<body>
    <div id="wrapper">
        <header>
            <div id="login">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="/members/login_user/">Login</a></li>
                    <li><a href="/members/register_user/">Register</a></li>
                {% endif %}
            </div>

            <div id="logobox">
                <img src="{% static 'rsvp/images/logo.png' %}" alt="Logo" class="banner_pic">
            </div>

            <div id="navigation">
                <ul>
                    <li><a href="/guestbook">Guestbook</a></li><br>
                    <li><a href="/rsvp">RSVP</a></li><br>
                </ul>
            </div>
        </header>

        <nav></nav>
        <main></main>
        <footer></footer>
    </div>
</body>

</html>