<!DOCTYPE html>
<html lang= "en">

<head>
	<title>Wedding – Home</title>
	<meta charset="utf8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'rsvp/css/style.css' %}">

	<style>
        main {
            height: 100vh;
            width: 100%;
        }

        #login ul {
	    list-style-type: none;
        text-decoration: none;
        }

        h1 {
	    text-align: center;
	    font-family: "Libre Baskerville", serif;
        }
        h3 {
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="wrapper">
        <header>
            <div id="login">
                <ul>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        <p>Welcome, {{ request.user.username }}!</p>
                    {% else %}
                        <li><a href="/members/login_user/">Login</a></li>
                        <li><a href="/members/register_user/">Register</a></li>
                    {% endif %}
                </ul>
            </div>
            <h1>Our Wedding Day</h1>
            <h3>Today's Temperature: {{ temperature }}°F</h3>


            <div id="logobox">
                <img src="{% static 'rsvp/images/flowers.jpg' %}" alt="Logo" class="banner_pic">
            </div>

            <div id="navigation">
                <ul>
                    <li><a href="/guestbook">Guestbook</a></li><br>
                    <li><a href="/wishlist/">Registry</a></li><br>
                    <li><a href="/rsvp">RSVP</a></li><br>
                </ul>
            </div>
        </header>

        <nav></nav>
        <main></main>
        <footer></footer>
    </div>
</body>

</html>