<!--
INF601 - Advanced Programming in Python
Assignment: Mini Project 4
I,     Levi Eck    , affirm that the work submitted for this assignment is entirely my own. I have not engaged in any form of academic dishonesty, including but not limited to cheating, plagiarism, or the use of unauthorized materials. I have neither provided nor received unauthorized assistance and have accurately cited all sources in adherence to academic standards. I understand that failing to comply with this integrity statement may result in consequences, including disciplinary actions as determined by my course instructor and outlined in institutional policies. By signing this statement, I acknowledge my commitment to upholding the principles of academic integrity.

INF601 - Advanced Programming in Python
Levi Eck
Mini Project 4
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Django RSVP – Home</h1>
{% if user.is_authenticated %}
    <p><a href="{% url 'logout' %}">Logout</a></p>
{% else %}
    <p><a href="/members/login_user/">Login</a></p>
    <p><a href="/members/register_user/">Register</a></p>
{% endif %}
<p><a href="/rsvp/">View Available Events</a></p>
{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
</body>
</html>